.contacts-footer {
  width: 232px;
  margin-top: 20px;

  font-style: normal;

  &__gmaps-link {
    color: $color-white;
  }
}

.contacts-footer__item {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts-footer__link {
  color: $color-white-op;

  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $color-white;
  }
}
