.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
  }

  &__field {
    margin-top: 4px;
    padding: 11px 12px 11px 42px;

    color: $color-primary-text;
    border: 1px solid $color-modal-border;
    border-radius: 4px;
    outline: none;

    font-size: 14px;
    letter-spacing: 0.03em;

    transition: border-color $duration $timing-function;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    fill: $color-primary-text;

    transition: fill $duration $timing-function;
  }

  &__accept {
    position: relative;

    margin-bottom: 30px;
    padding-left: 24px;

    color: $color-secondary-text;
    line-height: 1.14;

    user-select: none;
  }

  &__button {
    @extend %button;
  }
}

.feedback__label {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;

  color: $color-secondary-text;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  &:nth-last-of-type(2) {
    margin-bottom: 20px;
  }

  &:focus-within .feedback__field {
    border-color: $color-accent;
  }

  &:focus-within .feedback__icon {
    fill: $color-accent;
  }

  &:focus-within .feedback__area {
    border-color: $color-accent;
  }
}

.feedback__area {
  margin-top: 4px;
  padding: 12px 16px;

  color: $color-primary-text;
  border: 1px solid $color-modal-border;
  border-radius: 4px;
  outline: none;
  resize: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  transition: border-color $duration $timing-function;

  &::placeholder {
    color: $color-secondary-text-op;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}

.feedback__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

  &:checked ~ &--off {
    opacity: 0;
  }

  &:checked ~ &--on {
    opacity: 1;
  }

  &--off {
    position: absolute;
    top: 50%;
    left: 0;

    opacity: 1;
    pointer-events: none;

    transform: translateY(-50%);
    transition: opacity $duration $timing-function;
  }

  &--on {
    position: absolute;
    top: 50%;
    left: 0;

    opacity: 0;
    pointer-events: none;

    transform: translateY(-50%);
    transition: opacity $duration $timing-function;
  }
}

.feedback__link {
  position: relative;

  color: $color-accent;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;

    width: 100%;
    height: 1px;

    background-color: $color-accent;

    transform: scaleX(1);
    transition: transform $duration linear;
    transform-origin: right;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(0);
    transform-origin: left;
  }
}
