.gallery {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;

    max-height: 294px;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 24px;

    background-color: $color-accent-op;

    transform: translateY(150%);
    transition: transform $duration $timing-function;
  }

  &__overlay-text {
    color: $color-white;

    font-size: 18px;
    line-height: 1.56;
  }

  &__descr {
    padding: 20px 24px;

    border-right: 1px solid $color-gallery-border;
    border-bottom: 1px solid $color-gallery-border;
    border-left: 1px solid $color-gallery-border;
  }

  &__title {
    margin-bottom: 4px;

    color: $color-primary-text;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__category {
    color: $color-secondary-text;

    font-size: 16px;
    line-height: 1.88;
  }
}

.gallery__item {
  @media screen and (max-width: 767px) {
    max-width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }

    &:nth-child(-n + 2) .gallery__descr {
      height: 146px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 370px;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}

.gallery__link {
  display: block;

  transition: box-shadow $duration $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
  }

  &:hover .gallery__overlay,
  &:focus .gallery__overlay {
    transform: translateY(0%);
  }
}
