.header {
  border-bottom: 1px solid $color-header-border;

  &__container {
    position: relative;

    display: flex;
    align-items: center;
    min-height: 60px;
  }

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}

.header__button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  color: $color-primary-text;
  border: none;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.header__icon {
  position: absolute;
  top: 0;
  left: 0;

  fill: currentColor;

  transition: opacity $duration $timing-function;

  &[aria-expanded='false'] {
    opacity: 1;

    + .header__icon {
      opacity: 0;
    }
  }

  &[aria-expanded='true'] {
    opacity: 0;

    + .header__icon {
      opacity: 1;
    }
  }
}

.header__burger {
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    flex-direction: column;

    width: 100%;
    height: 90vh;
    padding: 48px 0 48px 40px;

    background-color: $color-white;
    box-shadow: 0px 4px 8px #0000000a, 0px 2px 4px #00000014, 0px 1px 3px #00000029;

    &.is-open {
      display: flex;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
  }
}
