$color-accent: #2196f3;
$color-accent-active: #188ce8;
$color-accent-op: #2196f3e6;
$color-black: #000000;
$color-gallery-border: #eeeeee;
$color-header-border: #ececec;
$color-hero-background: #c4c4c4;
$color-hero-overlay: #2f303a66;
$color-icon: #afb1b8;
$color-modal-border: #21212133;
$color-modal-close: #0000001a;
$color-modal-overlay: #00000033;
$color-primary-background: #2f303a;
$color-primary-text: #212121;
$color-secondary-background: #f5f4fa;
$color-secondary-text: #757575;
$color-secondary-text-op: #75757580;
$color-whatwedo-overlay: #2f303acc;
$color-white: #ffffff;
$color-white-op: #ffffff99;
$color-white-overlay: #ffffff1a;
$color-white-subscribe: #ffffff4d;
