body {
  background-color: $color-white;
  color: $color-primary-text;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &::-webkit-scrollbar {
    display: none;
  }
}

// * {
//   outline: 1px solid coral;
// }

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.block {
  display: block;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

%button {
  width: 200px;
  padding: 10px 15px;

  background-color: $color-accent;
  color: $color-white;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000026;

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color $duration $timing-function;

  &:hover,
  &:focus {
    background-color: $color-accent-active;
  }
}
